version: '3.8'

services:
  app:
    build: .
    expose:
      - "3000"
    environment:
      - NODE_ENV=production
    deploy:
      restart_policy:
        condition: on-failure
    labels:
      - traefik.http.middlewares.my-compress.compress=true
      - traefik.http.routers.alarik-web-hk1mzy-55-web.middlewares=my-compress,redirect-to-https@file
      - traefik.http.routers.alarik-web-hk1mzy-55-websecure.middlewares=my-compress