version: '3.8'

services:
  app:
    build: .
    expose:
      - "3000"
    environment:
      - NODE_ENV=production
    deploy:
      restart_policy:
        condition: on-failure
    labels:
      - traefik.http.middlewares.my-compress.compress=true